.dropzone {
    display: grid;
    margin: 5em;

    div {
        display: grid;
        grid-template-areas: "main";
    
        input {
            grid-area: main;
            opacity: 0;
        }
    
        div {
            display: grid;
            justify-content: center;
            text-align: center;
            align-content: center;
            grid-area: main;
            border: 1px dashed white;
        }
    }    
}
