.tabbedview {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;

    .header {
        -webkit-app-region: drag;
        background-color: #333333;

        .tabs {
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            list-style: none;
            padding: 1em 0 0 1em;
            margin: 0;
    
            .tab {
                width: 10em;
                padding: 0.5em 1em;
                -webkit-app-region: no-drag;
                border-right: 1px solid #1e1e1e;
    
                &.active {
                    background-color: #1e1e1e;
                }
    
                &:first-of-type {
                    border-left: 1px solid #1e1e1e;
                }
            }
    
            .new {
                position: relative;
                padding: 0;
                margin: 0;
                -webkit-app-region: no-drag;
                background-color: transparent;
                border: none;
                width: 45px;
    
                &:before {
                    content: ' ';
                    position: absolute;
                    background-color: white;
                    top: 15;
                    left: 15px;
                    height: 1px;
                    width: 15px;
                    box-sizing: border-box;
                }
                &:after {
                    content: ' ';
                    position: absolute;
                    background-color: white;
                    top: 15px;
                    left: 15px;
                    height: 1px;
                    width: 15px;
                    box-sizing: border-box;
                    transform: rotate(90deg);
                }
                &:hover {
                    background-color: #515151;
                }
            }
        }
    }

    .content {
        display: grid;
    }
}
